@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap');


html, body {
    font-family: var(--font-main);
    color: var(--text-color);
}
body {
    padding-bottom: 50vh;
}
.contanier {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.contanier-header {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-small {
    max-width: 1200px;
    padding-left: 188px;
}
.none {
    display: none !important;
}