:root {
    --text-color: #1E1E1E;
    --accent: #E58411;
    --header-text-color: #FFFFFF;
    --text-muted: #8D8D8D;
    --text-cart-title: #0D1B39;
    --footer-accent: #F6973F;
    --footer-bg: #2D2F33;
    --footer-text-color: rgba(255, 255, 255, 0.8);

    --ui-biruza: #00D6C9;
    --ui-gray: #7C7C7C;
    --ui-orange: #E58411;
    --ui-dark-blue: #0D1B39;

    --font-main: 'Gilroy', sans-serif;
    --font-cards: 'Inter', sans-serif;
    --font-footer-accent: 'DM sans', sans-serif;
}

@mixin retina-bg ($image) {
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        background-image: $image;
    }
}

@mixin mobile-xl () {
    @media (max-width: 819px) {
        @content
    }
};
@mixin mobile () {
    @media (max-width: 600px) {
        @content
    }
};
@mixin laptop () {
    @media (max-width: 1200px) {
        @content
    }
}