
.header {
    padding-top: 40px;
    position: relative;
    background-color: var(--footer-bg);
    background-image: url('../img/header-bg.png');
    background-size: cover;
    aspect-ratio: 1440 / 1084;
    color: var(--header-text-color);
    @include retina-bg(url('../img/header-bg-2x.png'));
    a {
        color: var(--header-text-color);
    }
    @include mobile-xl() {
        position: static;
    }
}
.header-nav {
    margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px)
}
.header-content {
    text-align: center;
}
.header-title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: clamp(28px , 0.821rem + 4.64vw, 80px);
    text-wrap: balance;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: capitalize;
}
.header-content p {
    max-width: 606px;
    margin: 0 auto;
    line-height: 160%;
    font-weight: 400;
    opacity: 0.8;
    font-size: clamp(16px , 0.857rem + 0.71vw, 24px);
    text-wrap: balance;
}
.header-search {
    display: flex;
    margin-top: 45px auto 0;
    justify-content: center;
}
.header-dot {
    position: absolute;
    @include mobile-xl () {
        display: none;
    }
}
.header-dot--sofa {
    left:  calc(296 * 100% / 1440);
    top: calc(685 * 100% / 1084);
    transform: translate(-20%, -20%);
}
.header-dot--vase {
    top: calc(743 * 100% / 1084);
    left: calc(103 * 100% / 1440);
    transform: translate(-50%, -50%);
}
.header-dot--item {
    top: calc(777 * 100% / 1084);
    left: calc(800 * 100% / 1440);
    transform: translate(-50%, -50%);
}
.header-dot--wall {
    top: calc(809 * 100% / 1084);
    left: calc(1369 * 100% / 1440);
    transform: translate(-50%, -50%);
}