

.header {
    padding-top: 40px;
    position: relative;
    background-color: var(--footer-bg);
    background-image: url('../img/header-bg.png');
    background-size: cover;
    aspect-ratio: 1440 / 1084;
    color: var(--header-text-color);
    @include retina-bg(url('../img/header-bg-2x.png'));
    a {
        color: var(--header-text-color);
    }
}
.header-nav {
    margin-bottom: 86px;
}
.header-content {
    text-align: center;
}
.header-title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-align: center;
    text-transform: capitalize;
}
.header-content p {
    max-width: 606px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 160%;
    font-weight: 400;
    opacity: 0.8;
}
.header-search {
    display: flex;
    margin-top: 45px auto 0;
    justify-content: center;
}

.header-dot-sofa {
    position: absolute;
    left:  calc(296 * 100% / 1440);
    top: calc(685 * 100% / 1084);
    transform: translate(-20%, -20%);
}
.header-dot-vase {
    position: absolute;
    top: calc(743 * 100% / 1084);
    left: calc(103 * 100% / 1440);
    transform: translate(-50%, -50%);
}
.header-dot-item {
    position: absolute;
    top: calc(777 * 100% / 1084);
    left: calc(800 * 100% / 1440);
    transform: translate(-50%, -50%);
}
.header-dot-wall {
    position: absolute;
    top: calc(809 * 100% / 1084);
    left: calc(1369 * 100% / 1440);
    transform: translate(-50%, -50%);
}