@import '../base/vars';
.mobile-nav-wrapper {
    display: none;
    background-color: var(--footer-bg);
    padding: 30px 20px;
    color: var(--footer-text-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    z-index: 5;
}
.mobile-nav-wrapper--open {
    display: block;
}
.mobile-nav {
    display: grid;
    gap: 20px;
    font-size: 22px;
}
.mobile-cart {
    display: flex;
    gap: 20px;
    font-style: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-nav-item {
}
.mobile-nav-link {
}
.mobile-nav-link--dropdown {

}
.mobile-subnav {
    font-size: 16px;
    display: grid;
    gap: 14px;
    padding-left: 20px;
    padding-top: 20px;

}
.sub-nuv {
}
.mobile-sub-nuv-link {
}