@import './../fonts/Gilroy/stylesheet.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html, body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.contanier {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.header {
  padding-top: 40px;
  position: relative;
  background-color: var(--footer-bg);
  background-image: url("./../../img/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../../img/header-bg-2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
}

.header-nav {
  margin-bottom: 86px;
}

.header-content {
  text-align: center;
}

.header-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: capitalize;
}

.header-content p {
  max-width: 606px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.8;
}

.header-search {
  display: flex;
  margin-top: 45px auto 0;
  justify-content: center;
}

.header-dot-sofa {
  position: absolute;
  left: 20.5555555556%;
  top: 63.1918819188%;
  transform: translate(-20%, -20%);
}

.header-dot-vase {
  position: absolute;
  top: 68.5424354244%;
  left: 7.1527777778%;
  transform: translate(-50%, -50%);
}

.header-dot-item {
  position: absolute;
  top: 71.6789667897%;
  left: 55.5555555556%;
  transform: translate(-50%, -50%);
}

.header-dot-wall {
  position: absolute;
  top: 74.63099631%;
  left: 95.0694444444%;
  transform: translate(-50%, -50%);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.logo {
  align-self: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.nav-list {
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 65px;
  justify-content: center;
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart-count {
  position: absolute;
  right: -6px;
  top: 3px;
  background-color: var(--accent);
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 20px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--font-cards);
}

.search-form {
  display: flex;
  height: 56px;
  width: 344px;
  margin-top: 45px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.search-form-input {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.search-form-input::-moz-placeholder {
  color: #FFF;
  font-weight: 400;
}
.search-form-input::placeholder {
  color: #FFF;
  font-weight: 400;
}

.search-form-btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--accent);
  padding-top: 10px;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.info-dot {
  border-radius: 50%;
  position: relative;
  border: none;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
}

.info-dot-circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot-radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot-radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot-circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  width: 112px;
  height: 56px;
  background-image: url("../../img/icons/Union.svg");
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.info-hint-radio:checked + .info-hint-fake {
  background-image: url("../../img/icons/bi_check.svg");
}

.info-hint-radio {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint-fake {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint-fake--gray {
  background-color: var(--ui-gray);
}/*# sourceMappingURL=main.css.map */