@import './../fonts/Gilroy/stylesheet.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html, body {
  font-family: var(--font-main);
  color: var(--text-color);
}

body {
  padding-bottom: 50vh;
}

.contanier {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.contanier-header {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-small {
  max-width: 1200px;
  padding-left: clamp(1.875rem, -0.946rem + 14.11vw, 11.75rem);
}

.none {
  display: none !important;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.header {
  padding-top: 40px;
  position: relative;
  background-color: var(--footer-bg);
  background-image: url("../img/header-bg.png");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("../img/header-bg-2x.png");
  }
}
.header a {
  color: var(--header-text-color);
}
@media (max-width: 819px) {
  .header {
    position: static;
  }
}

.header-nav {
  margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

.header-content {
  text-align: center;
}

.header-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
  text-wrap: balance;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: capitalize;
}

.header-content p {
  max-width: 606px;
  margin: 0 auto;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.8;
  font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
  text-wrap: balance;
}

.header-search {
  display: flex;
  margin-top: 45px auto 0;
  justify-content: center;
}

.header-dot {
  position: absolute;
}
@media (max-width: 819px) {
  .header-dot {
    display: none;
  }
}

.header-dot--sofa {
  left: 20.5555555556%;
  top: 63.1918819188%;
  transform: translate(-20%, -20%);
}

.header-dot--vase {
  top: 68.5424354244%;
  left: 7.1527777778%;
  transform: translate(-50%, -50%);
}

.header-dot--item {
  top: 71.6789667897%;
  left: 55.5555555556%;
  transform: translate(-50%, -50%);
}

.header-dot--wall {
  top: 74.63099631%;
  left: 95.0694444444%;
  transform: translate(-50%, -50%);
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}
@media (max-width: 819px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  align-self: center;
}

.nav-list {
  position: relative;
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 65px;
  justify-content: center;
}
@media (max-width: 819px) {
  .nav-list {
    display: none;
  }
}

.cart {
  display: flex;
  align-self: center;
  justify-content: end;
  position: relative;
}

.cart-count {
  position: absolute;
  right: 2px;
  top: 3px;
  background-color: var(--accent);
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 20px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--font-cards);
}

.nav-button {
  display: none;
}
@media (max-width: 819px) {
  .nav-button {
    display: block;
  }
}

.nav-list-link {
  transition: opacity 0.2s ease-in;
}
.nav-list-link:hover {
  opacity: 0.8;
}
.nav-list-link--dropdown {
  gap: 8px;
  display: flex;
}
.nav-list-link--dropdown::after {
  content: url("../img/icons/eva_arrow-ios-back-outline.svg");
  height: 10px;
}

.nav-list-subnav {
  opacity: 0;
  width: 170px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-list-item:hover .nav-list-subnav {
  pointer-events: all;
  display: block;
  opacity: 1;
  transform: translate(0%, 0%);
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.sub-nuv {
  display: grid;
  gap: 16px;
  color: #FFF;
  padding: 20px;
  border-radius: 16px;
  font-size: 16px;
  background-color: var(--footer-bg);
}
.sub-nuv a {
  color: #FFF;
  transition: color 0.1s ease-in;
}
.sub-nuv a:hover {
  color: var(--accent);
}

.search-form {
  display: flex;
  gap: 15px;
  height: clamp(1.875rem, 1.411rem + 2.32vw, 3.5rem);
  width: clamp(12.5rem, 9.929rem + 12.86vw, 21.5rem);
  margin-top: clamp(1.563rem, 1.205rem + 1.79vw, 2.813rem);
  padding: clamp(0.125rem, 0.018rem + 0.54vw, 0.5rem) clamp(0.125rem, 0.018rem + 0.54vw, 0.5rem) clamp(0.125rem, 0.018rem + 0.54vw, 0.5rem) clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
}

.search-form-input {
  flex-grow: 1;
  color: #FFF;
  font-size: clamp(0.625rem, 0.482rem + 0.71vw, 1.125rem);
  font-weight: 500;
  line-height: 150%;
}
.search-form-input::-moz-placeholder {
  color: #FFF;
  font-weight: 400;
}
.search-form-input::placeholder {
  color: #FFF;
  font-weight: 400;
}

.search-form-btn {
  flex-shrink: 0;
  width: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem);
  height: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem);
  border-radius: 24px;
  background-color: var(--accent);
  padding-top: 10px;
  display: flex;
  justify-content: center;
  padding-top: clamp(0.313rem, 0.241rem + 0.36vw, 0.563rem);
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.info-dot {
  border-radius: 50%;
  position: relative;
  border: none;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
}

.info-dot-circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot-radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot-radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot-circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  width: 112px;
  height: 56px;
  background-image: url("../img/icons/Union.svg");
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.info-hint-radio:checked + .info-hint-fake {
  background-image: url("../img/icons/bi_check.svg");
}

.info-hint-radio {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint-fake {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint-fake--gray {
  background-color: var(--ui-gray);
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.benifits {
  padding: 120px 0;
  margin-left: clamp(1.25rem, 0.179rem + 5.36vw, 5rem);
}

.benifits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 819px) {
  .benifits-grid {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 60px 20px;
  }
}

.benifits-title {
  font-size: clamp(1.875rem, 1.661rem + 1.07vw, 2.625rem);
  font-weight: 700;
}

.benifit-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}

.benifit-text {
  margin-bottom: 14px;
  opacity: 0.8;
  font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
  line-height: 1.85;
}

.benifit-link {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  color: var(--accent);
  font-weight: 500;
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
  line-height: 1.85;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.produts {
  background-color: #F7F7F7;
  padding: 50px 0;
}

.products-title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.063rem, 0.616rem + 2.23vw, 2.625rem);
}

.products-tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products-slider {
  margin-bottom: 60px;
}

.products-link {
  text-align: center;
}
.products-link a {
  color: var(--accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}

.tabs-control {
  display: inline-flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 44px;
  background-color: #eee;
}

.tab-control-btn {
  display: flex;
  height: clamp(1.875rem, 1.607rem + 1.34vw, 2.813rem);
  padding: 7px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
}
.tab-control-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-control-btn--active {
  background-color: #FFF;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.cart {
  width: 268px;
  position: relative;
  font-family: var(--font-cards);
}

.cart-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart-photo {
  margin-top: 50px;
  height: 240px;
  background-color: #FAFAFA;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.cart-photo img {
  margin-top: -50px;
  max-width: 255px;
  max-height: 217px;
}

.cart-text {
  height: 202px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px 22px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.cart-category {
  position: relative;
  z-index: 3;
  color: var(--text-muted);
  font-size: 16px;
}

.cart-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--text-cart-title);
}

.cart-stars {
  display: flex;
  gap: 3px;
}

.cart-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-price {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  font-weight: 600;
  font-size: 21px;
  color: var(--text-cart-title);
}

.cart-price::before {
  font-size: 15px;
  content: attr(data-value);
}

.cart-button {
  position: relative;
  z-index: 3;
  width: 48px;
  height: 48px;
  background-color: var(--ui);
  transition: opacity 0.2s ease-in;
}

.cart-button:hover {
  opacity: 0.8;
}

.slider {
  margin: 0 auto;
  max-width: 1168px;
  justify-content: center;
  position: relative;
}

.slider-button {
  background: #FFFFFF;
  box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.slider-button--prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .slider-button--prev {
    transform: translate(0, -50%);
  }
}

.slider-button--next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
@media (max-width: 1200px) {
  .slider-button--next {
    transform: translate(0, -50%);
  }
}

.slider-button:hover {
  opacity: 0.8;
}

.swiper-slide {
  width: 268px;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.footer {
  padding-top: 118px;
  padding-bottom: 45px;
  background: var(--footer-bg);
  color: var(--footer-text-color);
}
.footer a {
  color: rgb(255, 255, 255);
}

.link-logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer-grid {
  margin-bottom: 118px;
  display: grid;
  grid-template-columns: 4.2fr 1fr 2fr 2fr 2fr;
  gap: 20px;
}
@media (max-width: 819px) {
  .footer-grid {
    grid-template-columns: 4fr 1fr 3fr 3fr;
  }
}
@media (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

.footer-services {
  grid-column-start: 3;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copypight {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-desc {
  font-weight: 500;
  font-size: 15px;
  font-family: var(--font-main);
  line-height: 1.6;
  opacity: 0.8;
}
.footer-desc p {
  margin-top: 16px;
}

.footer-nav-title {
  margin-bottom: 16px;
  font-family: var(--font-footer-accent);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.231818px;
  color: var(--footer-accent);
}

.footer-list {
  display: grid;
  gap: 16px;
}
.footer-list:hover {
  transition: opacity 0.2s ease-in;
  opacity: 0.8;
}

.logo {
  font-size: clamp(18px, 161.661rem + 177.68vw, 28px);
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: #fff;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --header-text-color: #FFFFFF;
  --text-muted: #8D8D8D;
  --text-cart-title: #0D1B39;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-orange: #E58411;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM sans", sans-serif;
}

.mobile-nav-wrapper {
  display: none;
  background-color: #2D2F33;
  padding: 30px 20px;
  color: var(--footer-text-color);
  height: clamp(380px, 10.924rem + 64.13vw, 700px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  z-index: 5;
}

.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 22px;
}

.mobile-cart {
  display: flex;
  gap: 20px;
  font-style: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-subnav {
  font-size: 16px;
  display: grid;
  gap: 14px;
  padding-left: 20px;
  padding-top: 20px;
}/*# sourceMappingURL=main.css.map */